<a href="/">
  <img
    class="w-80"
    id="logo"
    src="/logos/ml_logo_white.png"
    alt="ML Strength Logo"
  />
</a>
<div class="burger-icon" id="menu-toggle">
  <div class="burger-line"></div>
  <div class="burger-line"></div>
  <div class="burger-line"></div>
</div>
<ul id="menu-items">
  <li
    class="btn hover:btn-secondary text-white btn-ghost text-sm md:text-base lg:text-lg"
  >
    <a href="/html/locations.html">Find A Gym</a>
  </li>
  <li
    class="btn hover:btn-secondary text-white btn-ghost text-sm md:text-base lg:text-lg"
  >
    <a href="/html/membership.html">Membership</a>
  </li>

  <li
    class="btn hover:btn-secondary text-white btn-ghost text-sm md:text-base lg:text-lg"
  >
    <a href="/html/classes.html">Classes</a>
  </li>
  <li
    class="btn hover:btn-secondary text-white btn-ghost text-sm md:text-base lg:text-lg"
  >
    <a href="/html/about.html">About</a>
  </li>
  <li class="btn btn-secondary text-sm md:text-base lg:text-lg">
    <a class="text-neutral" href="/html/trial.html">Free Trial</a>
  </li>
  <li class="btn btn-secondary text-sm md:text-base lg:text-lg">
    <a class="text-neutral" href="/html/join_now.html">Join Now</a>
  </li>
</ul>
